torch>=2.5.1
torchvision>=0.20.1
torchaudio>=2.5.1
lightning>=2.4.0
scikit-learn>=1.6.0
huggingface_hub>=1.17.0
transformers>=5.5.4
rdkit>=2025.9.3
deepchem>=2.8.0
chemprop>=2.2.1
aimsim_core>=2.2.2
mordredcommunity>=2.0.6
descriptastorus>=2.8.0